<span
  class="tile" 
  [ngClass]="{
    'filled': isTileType(TileTypes.FILLED),
    'bomb': isTileType(TileTypes.BOMB),
    'explosion': isTileType(TileTypes.EXPLOSION),
    'flag': isTileType(TileTypes.FLAG)
  }"
  (click)="onClick($event)"
  (contextmenu)="onContextMenuClick($event)">
  <span
    *ngIf="(tile && tile.getNumber() > 0) && tile.getShow()"
    class="tile__number"
    [ngClass]="{
      'one': isTileNumber(1),
      'two': isTileNumber(2),
      'three': isTileNumber(3),
      'four': isTileNumber(4),
      'five': isTileNumber(5),
      'six': isTileNumber(6)
    }">
    {{ tile.getNumber() }}
  </span>
</span>
