<span
  [id]="'tile-' + tile?.getId()"
  class="tile" 
  [ngClass]="{
    'filled': !tile?.isDiscovered() && (tile?.isTypeEmpty() || tile?.isTypeNumber() || tile?.isTypeBomb()),
    'bomb': tile?.isDiscovered() && tile?.isTypeBomb(),
    'explosion': tile?.isDiscovered() && tile?.isTypeExplosion(),
    'flag': !tile?.isDiscovered() && tile?.isFlag()
  }"
  (click)="onClick($event)"
  (contextmenu)="onContextMenuClick($event)">
  <span
    *ngIf="(tile && tile.getNumber() > 0) && tile.isDiscovered()"
    class="tile__number"
    [ngClass]="{
      'one': tile.isNumber(1),
      'two': tile.isNumber(2),
      'three': tile.isNumber(3),
      'four': tile.isNumber(4),
      'five': tile.isNumber(5),
      'six': tile.isNumber(6)
    }">
    {{ tile.getNumber() }}
  </span>
</span>
