.tile {
  // background-color: #BDBDBD;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-repeat: no-repeat;
  background-size: cover;
  height: 2rem;
  width: 2rem;

  &.filled {
    background-image: url('../../../../../assets/svg/filled-tile.svg');
  }

  &.flag {
    background-image: url('../../../../../assets/svg/flag.svg');
  }

  &.bomb {
    background-image: url('../../../../../assets/images/bomb.png');
  }
  
  &.explosion {
    background-image: url('../../../../../assets/images/explosion.png');
  }

  &__number {
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
    
    &.one {
      color: rgb(0, 0, 255);
    }

    &.two {
      color: rgb(0, 120, 0);
    }

    &.three {
      color: rgb(255, 0, 0);
    }
    
    &.four {
      color: rgb(0, 0, 127);
    }

    &.five {
      color: rgb(123, 0, 0);
    }
        
    &.six {
      color: rgb(162, 173, 0);
    }
  }

}