<div class="notification" >
  <span 
    *ngIf="notificationObject" 
    class="notification__message" 
    [ngClass]="{
      'success': isType(NotificationType.SUCCESS),
      'info': isType(NotificationType.INFO),
      'warning': isType(NotificationType.WARNING),
      'error': isType(NotificationType.ERROR)
    }">
    {{notificationObject()?.message}} 
    <a *ngIf="notificationObject()?.link" class="link" [href]="notificationObject()?.link?.to" >{{notificationObject()?.link?.label}}</a>
  </span>
</div>