<div class="notification" >
  <span 
    *ngIf="notificationObject" 
    class="notification__message" 
    [ngClass]="{
      'success': notificationObject.type === NotificationType.SUCCESS,
      'info': notificationObject.type === NotificationType.INFO,
      'warning': notificationObject.type === NotificationType.WARNING,
      'error': notificationObject.type === NotificationType.ERROR
    }">
    {{notificationObject.message}} 
    <a *ngIf="notificationObject.link" class="link" [href]="notificationObject.link.to" >{{notificationObject.link.label}}</a>
  </span>
</div>