@import '../../../variables';

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;

  &__message {
    border-radius: var(--border-radius);
    padding: 1rem;
    
    &.success {
      background-color: rgb(173, 255, 173);
    }

    &.info {
      background-color: rgb(158, 159, 255);
    }

    &.warning {
      background-color: rgb(253, 255, 158);
    }

    &.error {
      background-color: rgb(255, 183, 183);
    }
  }
}
