<div class="panel">
  <panel title='Setup' >
    <select-field [model]="config" attr="difficultyLevel" label='Difficulty Level' [options]='difficultyLevels' (change)="onDifficultyLevelChange()" ></select-field>
    <numeric-field [model]="config" attr="columns" label='Grid Height' [enabled]="isCustomDifficultyLevel()" ></numeric-field>
    <numeric-field [model]="config" attr="rows" label='Grid Width' [enabled]="isCustomDifficultyLevel()" ></numeric-field>
    <numeric-field [model]="config" attr="bombs" label='Bombs' [enabled]="isCustomDifficultyLevel()" ></numeric-field>
    <custom-button (click)='onGoToBoardClick()' class='panel__to-board-button' >
      Go to Board
    </custom-button>
  </panel>
</div>
