<panel class="board" title="Board" [actions]="[{ icon: 'list.svg' , to: '/finished-games-list' }, { icon: 'settings.svg', to: '/setup' }]">
  <board-header></board-header>
  <div class="board__grid" >
    <table>
      @for (col of grid; track col) 
      {
        <tr class="row">
          @for (tile of col; track tile.getId()) 
          {
            <td class="col">
              <tile [tile]="tile" [gameOver]="gameOver" (change)="onTileChange($event)"></tile>
            </td>
          }  
        </tr>
      } 
      @empty 
      {
        There were no items in the list.
      }
    </table>
  </div>

</panel>

