@import '../../../variables';

.custom-button {
  margin: var(--control-margin);
  padding: var(--control-padding);

  border: var(--control-border);
  border-radius: var(--control-border-radius);

  cursor: pointer;
}